package cucumber.runners;

import cucumber.api.junit.Cucumber;
import org.junit.runner.RunWith;

@RunWith(Cucumber.class)
@cucumber.api.CucumberOptions(format={"cucumber.stepdefinitions.support.http.HttpConversationHTMLFormatter:reports/runners/${testRunnerClassName}", "pretty", "json:reports/json/${testRunnerClassName}.json"}, glue = {"cucumber/stepdefinitions"}, features = {"${featureFilePath}"}, strict = true, tags = {${tags}})
public class ${testRunnerClassName} {
}
